In [59]:
#importation des librairie
import pandas as pd
import numpy as np

In [60]:
#lecture du fichier et selection des colonnes qui nous interresses
df = pd.read_table("marathon.txt", names=["ville","annee","temps","secondes","estPARIS","estBERLIN"])
df

       ville  annee     temps  secondes  estPARIS  estBERLIN
0      PARIS   2011  02:06:29      7589       NaN        NaN
1      PARIS   2010  02:06:41      7601       NaN        NaN
2      PARIS   2009  02:05:47      7547       NaN        NaN
3      PARIS   2008  02:06:40      7600       NaN        NaN
4      PARIS   2007  02:07:17      7637       NaN        NaN
..       ...    ...       ...       ...       ...        ...
354  CHICAGO   2006  02:07:35      7655       NaN        NaN
355  CHICAGO   2007  02:11:11      7871       NaN        NaN
356  CHICAGO   2008  02:06:25      7585       NaN        NaN
357  CHICAGO   2009  02:05:41      7541       NaN        NaN
358  CHICAGO   2010  02:06:23      7583       NaN        NaN

[359 rows x 6 columns]

In [61]:
#permet de changer le Nan en 1 pour paris et berlin 

for i in range (len(df.ville)):
    if df.ville[i] == "PARIS":
        df.estPARIS[i] = 1
        df.estBERLIN[i] = 0
        #print(sum(df.estPARIS))

    elif df.ville[i] == "BERLIN":
        df.estPARIS[i] = 0
        df.estBERLIN[i] = 1
        #print(sum(df.estBERLIN))

    else:
        df.estPARIS[i] = 0
        df.estBERLIN[i] = 0
        
print(df.head (n=3))

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_14912\620780375.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.estPARIS[i] = 1
C:\Users\utilisateur\AppData\Local\Temp\ipykernel_14912\620780375.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.estBERLIN[i] = 0
C:\Users\utilisateur\AppData\Local\Temp\ipykernel_14912\620780375.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.estPARIS[i] = 0
C:\Users\utilisateur\AppData\Local\Temp\ipykernel_14912\620780375.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.estBERLIN[i] = 1
C:\Users\utilisateur\AppData\Local\Temp\ipykernel_14912\620780375.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.estPARIS[i] = 0
C:\Users\utilisateur\AppData\Local\Temp\ipykernel_14912\620780375.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.estBERLIN[i] = 0

   ville  annee     temps  secondes  estPARIS  estBERLIN
0  PARIS   2011  02:06:29      7589       1.0        0.0
1  PARIS   2010  02:06:41      7601       1.0        0.0
2  PARIS   2009  02:05:47      7547       1.0        0.0

In [62]:
#x_transpose = 3 lignes
x_transpose= np.matrix([df.annee, df.estPARIS,df.estBERLIN])
x_transpose

matrix([[2.011e+03, 2.010e+03, 2.009e+03, ..., 2.008e+03, 2.009e+03,
         2.010e+03],
        [1.000e+00, 1.000e+00, 1.000e+00, ..., 0.000e+00, 0.000e+00,
         0.000e+00],
        [0.000e+00, 0.000e+00, 0.000e+00, ..., 0.000e+00, 0.000e+00,
         0.000e+00]])

In [63]:
#T PERMET DE FAIRE LA TRANSPOSE (x = 3 colonnes)
x = x_transpose.T
x

matrix([[2.011e+03, 1.000e+00, 0.000e+00],
        [2.010e+03, 1.000e+00, 0.000e+00],
        [2.009e+03, 1.000e+00, 0.000e+00],
        ...,
        [2.008e+03, 0.000e+00, 0.000e+00],
        [2.009e+03, 0.000e+00, 0.000e+00],
        [2.010e+03, 0.000e+00, 0.000e+00]])

In [64]:
# multiplication entre x et sa transposer
a = x_transpose*x
a

matrix([[1.42139614e+09, 6.97750000e+04, 7.57150000e+04],
        [6.97750000e+04, 3.50000000e+01, 0.00000000e+00],
        [7.57150000e+04, 0.00000000e+00, 3.80000000e+01]])

In [65]:
# inverse
a1 = np.linalg.inv(a)#commande numpy qui permet de fait l'inverse
a1

matrix([[ 8.83835274e-10, -1.76198875e-06, -1.76104178e-06],
        [-1.76198875e-06,  3.20840790e-02,  3.51076259e-03],
        [-1.76104178e-06,  3.51076259e-03,  2.98246652e-02]])

In [66]:
# inverse * transposer
a2 = a1*x_transpose
a2

matrix([[ 1.54039862e-08,  1.45201509e-08,  1.36363157e-08, ...,
          1.77474123e-06,  1.77562507e-06,  1.77650890e-06],
        [ 2.85407196e-02,  2.85424816e-02,  2.85442436e-02, ...,
         -3.53807341e-03, -3.53983540e-03, -3.54159739e-03],
        [-3.06924425e-05, -2.89314007e-05, -2.71703590e-05, ...,
         -3.53617190e-03, -3.53793294e-03, -3.53969399e-03]])

In [67]:
#initialisation de y
y =np.matrix([df.secondes]).T
y

matrix([[ 7589],
        [ 7601],
        [ 7547],
        [ 7600],
        [ 7637],
        [ 7683],
        [ 7682],
        [ 7736],
        [ 7593],
        [ 7698],
        [ 7780],
        [ 7729],
        [ 7690],
        [ 7777],
        [ 7814],
        [ 7938],
        [ 7806],
        [ 7856],
        [ 7846],
        [ 7803],
        [ 7990],
        [ 7983],
        [ 8033],
        [ 7869],
        [ 7964],
        [ 7849],
        [ 7918],
        [ 7958],
        [ 8047],
        [ 7904],
        [ 8750],
        [ 8333],
        [ 9295],
        [ 9041],
        [ 8457],
        [ 7418],
        [ 7508],
        [ 7568],
        [ 7439],
        [ 7466],
        [ 7556],
        [ 7661],
        [ 7604],
        [ 7495],
        [ 7607],
        [ 7727],
        [ 7662],
        [ 7604],
        [ 7565],
        [ 7661],
        [ 7755],
        [ 7622],
        [ 7711],
        [ 7857],
        [ 7687],
        [ 7857],
        [ 7696],
        [ 7811],
        [ 7905],
        [ 7871],
        [ 7863],
        [ 7903],
        [ 8015],
        [ 8017],
        [ 8087],
        [ 8142],
        [ 8208],
        [ 8469],
        [ 8403],
        [ 8119],
        [ 8588],
        [10028],
        [ 9893],
        [ 7704],
        [ 7518],
        [ 7570],
        [ 7599],
        [ 7612],
        [ 7709],
        [ 7750],
        [ 7672],
        [ 7753],
        [ 7765],
        [ 7611],
        [ 7674],
        [ 7722],
        [ 7648],
        [ 7848],
        [ 7770],
        [ 7785],
        [ 7731],
        [ 7744],
        [ 7858],
        [ 7895],
        [ 7974],
        [ 7864],
        [ 7698],
        [ 7806],
        [ 7791],
        [ 7800],
        [ 7732],
        [ 7815],
        [ 7698],
        [ 7785],
        [ 7835],
        [ 7821],
        [ 7856],
        [ 7955],
        [ 7809],
        [ 7892],
        [ 7905],
        [ 7830],
        [ 7971],
        [ 7838],
        [ 7873],
        [ 7848],
        [ 7777],
        [ 8045],
        [ 8316],
        [ 8089],
        [ 8281],
        [ 8179],
        [ 8525],
        [ 8344],
        [ 8974],
        [ 8641],
        [ 8500],
        [ 8715],
        [ 8596],
        [ 8695],
        [ 8846],
        [ 8879],
        [ 9013],
        [ 9047],
        [ 9626],
        [ 9445],
        [ 9945],
        [ 8211],
        [ 8328],
        [ 7967],
        [ 8086],
        [ 7741],
        [ 8291],
        [ 7935],
        [ 8021],
        [ 8068],
        [ 8364],
        [ 8086],
        [ 7960],
        [ 7958],
        [ 8032],
        [ 7912],
        [ 8006],
        [ 8098],
        [ 7916],
        [ 8156],
        [ 8040],
        [ 7857],
        [ 7704],
        [ 7693],
        [ 7607],
        [ 7737],
        [ 7622],
        [ 7646],
        [ 7599],
        [ 7582],
        [ 7580],
        [ 7732],
        [ 7589],
        [ 7672],
        [ 7578],
        [ 7544],
        [ 7908],
        [ 7764],
        [ 7783],
        [ 7797],
        [ 7696],
        [ 7802],
        [ 7790],
        [ 7820],
        [ 7743],
        [ 7810],
        [ 7757],
        [ 7802],
        [ 7850],
        [ 7733],
        [ 7710],
        [ 7800],
        [ 7675],
        [ 7677],
        [ 7677],
        [ 7596],
        [ 7629],
        [ 7538],
        [ 7676],
        [ 7578],
        [ 7655],
        [ 7599],
        [ 7661],
        [ 7515],
        [ 7510],
        [ 7519],
        [ 7480],
        [ 9098],
        [ 8574],
        [ 8872],
        [ 8514],
        [ 8790],
        [ 8367],
        [ 7810],
        [ 7888],
        [ 7932],
        [ 7902],
        [ 7781],
        [ 7693],
        [ 7769],
        [ 7739],
        [ 8093],
        [ 7894],
        [ 7866],
        [ 7861],
        [ 7700],
        [ 7681],
        [ 7959],
        [ 7768],
        [ 7769],
        [ 7804],
        [ 7881],
        [ 7860],
        [ 7794],
        [ 7692],
        [ 7725],
        [ 7754],
        [ 7809],
        [ 7663],
        [ 7687],
        [ 7830],
        [ 7768],
        [ 7770],
        [ 7798],
        [ 7744],
        [ 7723],
        [ 7755],
        [ 7694],
        [ 8255],
        [ 8149],
        [ 8006],
        [ 8360],
        [ 7897],
        [ 8027],
        [ 8238],
        [ 7953],
        [ 8032],
        [ 8066],
        [ 8014],
        [ 7984],
        [ 7958],
        [ 8158],
        [ 8190],
        [ 8046],
        [ 8069],
        [ 8105],
        [ 8242],
        [ 8172],
        [ 8092],
        [ 8329],
        [ 8297],
        [ 8300],
        [ 8294],
        [ 8172],
        [ 8008],
        [ 8221],
        [ 8456],
        [ 8163],
        [ 8134],
        [ 7968],
        [ 8047],
        [ 8338],
        [ 8399],
        [ 8193],
        [ 8231],
        [ 8145],
        [ 8537],
        [ 8029],
        [ 7830],
        [ 8325],
        [ 8139],
        [ 8163],
        [ 8019],
        [ 7795],
        [ 8419],
        [ 8086],
        [ 7813],
        [ 7767],
        [ 7931],
        [ 7766],
        [ 7732],
        [ 7740],
        [ 7834],
        [ 8045],
        [ 7671],
        [ 7910],
        [ 7723],
        [ 7746],
        [ 7699],
        [ 7866],
        [ 7694],
        [ 7773],
        [ 7635],
        [ 7762],
        [ 7755],
        [ 7834],
        [ 7654],
        [ 7792],
        [ 7787],
        [ 7783],
        [ 7742],
        [ 7811],
        [ 7837],
        [ 7904],
        [ 7634],
        [ 8053],
        [ 7665],
        [ 7722],
        [ 7552],
        [ 7382],
        [ 8272],
        [ 8360],
        [ 8600],
        [ 8044],
        [ 8173],
        [ 7859],
        [ 7784],
        [ 7685],
        [ 7633],
        [ 7707],
        [ 7737],
        [ 7885],
        [ 7781],
        [ 8073],
        [ 8174],
        [ 7994],
        [ 7876],
        [ 7878],
        [ 7732],
        [ 7630],
        [ 7614],
        [ 7542],
        [ 7621],
        [ 7732],
        [ 7556],
        [ 7550],
        [ 7576],
        [ 7622],
        [ 7655],
        [ 7871],
        [ 7585],
        [ 7541],
        [ 7583]], dtype=int64)

In [70]:
#inverse * y
a3 =a2 * y
a3
#ou cette methode
#((x.T)*x).I*x.T*
print ('on trouve que a0 vaut',a3[0],"que a1 vaut",a3[1],"que a2 vaut",a3[2])

on trouve que a0 vaut [[3.98807104]] que a1 vaut [[-13.47591572]] que a2 vaut [[-23.91576442]]